{% extends 'landing/html&css/html/pages/layout/_base.html' %}
{% load crispy_forms_filters %}
{% load i18n %}
{% load humanize %}
{% load product_extras %}
{% block title %}{% trans 'Final Order' %}{% endblock %}
{% block content %}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{##}
{#<head>#}
{#    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>#}
{#    <!-- Primary Meta Tags -->#}
{#    <title>Order | Web Mall</title>#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">#}
{#    <meta name="title" content="Neumorphism UI - Pricing">#}
{#    <meta name="author" content="Themesberg">#}
{##}
{#    <link rel="canonical" href="https://themesberg.com/product/ui-kits/neumorphism-ui/"/>#}
{##}
{#    <!--  Social tags -->#}
{#    <meta name="keywords"#}
{#          content="neumorphism, neumorphism ui, neomorphism, neomorphism ui, neomorphism css, neumorphism css, neumorph, neumorphic, design system, login, form, table, tables, card, cards, navbar, modal, icons, icons, map, chat, carousel, menu, datepicker, gallery, slider, date, social, dropdown, search, tab, nav, footer, date picker, forms, tabs, time, button, select, input, timeline, cart, about us, account, log in, blog, profile, portfolio, landing page, ecommerce, shop, landing, register, app, contact, one page, sign up, signup, store, bootstrap 4, bootstrap4, dashboard, bootstrap 4 dashboard, bootstrap 4 design, bootstrap 4 system, bootstrap 4, bootstrap 4 uit kit, bootstrap 4 kit, themesberg, html kit, html css template, web template, bootstrap, bootstrap 4, css3 template, frontend, responsive bootstrap template, bootstrap ui kit, responsive ui kit">#}
{#    <meta name="description"#}
{#          content="Start developing neumorphic web applications and pages using Neumorphism UI. It features over 100 individual components and 5 example pages.">#}
{##}
{#    <!-- Schema.org markup for Google+ -->#}
{#    <meta itemprop="name" content="Neumorphism UI by Themesberg">#}
{#    <meta itemprop="description"#}
{#          content="Start developing neumorphic web applications and pages using Neumorphism UI. It features over 100 individual components and 5 example pages.">#}
{#    <meta itemprop="image"#}
{#          content="https://themesberg.s3.us-east-2.amazonaws.com/public/products/neumorphism-ui/neumorphism-thumbnail.jpg">#}
{##}
{#    <!-- Twitter Card data -->#}
{#    <meta name="twitter:card" content="product">#}
{#    <meta name="twitter:site" content="@themesberg">#}
{#    <meta name="twitter:title" content="Neumorphism UI by Themesberg">#}
{#    <meta name="twitter:description"#}
{#          content="Start developing neumorphic web applications and pages using Neumorphism UI. It features over 100 individual components and 5 example pages.">#}
{#    <meta name="twitter:creator" content="@themesberg">#}
{#    <meta name="twitter:image"#}
{#          content="https://themesberg.s3.us-east-2.amazonaws.com/public/products/neumorphism-ui/neumorphism-thumbnail.jpg">#}
{##}
{#    <!-- Open Graph data -->#}
{#    <meta property="fb:app_id" content="214738555737136">#}
{#    <meta property="og:title" content="Neumorphism UI by Themesberg"/>#}
{#    <meta property="og:type" content="article"/>#}
{#    <meta property="og:url" content="https://demo.themesberg.com/neumorphism-ui/"/>#}
{#    <meta property="og:image"#}
{#          content="https://themesberg.s3.us-east-2.amazonaws.com/public/products/neumorphism-ui/neumorphism-thumbnail.jpg"/>#}
{#    <meta property="og:description"#}
{#          content="Start developing neumorphic web applications and pages using Neumorphism UI. It features over 100 individual components and 5 example pages."/>#}
{#    <meta property="og:site_name" content="Themesberg"/>#}
{##}
{#    <!-- Favicon -->#}
{#    <link rel="apple-touch-icon" sizes="120x120" href="../../../../../static/landing/w-logo.png">#}
{#    <link rel="icon" type="image/png" sizes="32x32" href="../../../../../static/landing/w-logo.png">#}
{#    <link rel="icon" type="image/png" sizes="16x16" href="../../../../../static/landing/w-logo.png">#}
{#    <link rel="manifest" href="../../../../../static/landing/assets/img/favicon/site.webmanifest">#}
{#    <link rel="mask-icon" href="../../../../../static/landing/assets/img/favicon/safari-pinned-tab.svg" color="#ffffff">#}
{#    <meta name="msapplication-TileColor" content="#ffffff">#}
{#    <meta name="theme-color" content="#ffffff">#}
{##}
{#    <!-- Fontawesome -->#}
{#    <link type="text/css" href="../../../../../static/landing/vendor/@fortawesome/fontawesome-free/css/all.min.css"#}
{#          rel="stylesheet">#}
{##}
{#    <!-- Pixel CSS -->#}
{#    <link type="text/css" href="../../../../../static/landing/css/neumorphism.css" rel="stylesheet">#}
{#    {% load static %}#}
{#    <link rel="stylesheet" href="{% static 'layout/css/loading.css' %}">#}
{##}
{#    <!-- NOTICE: You can use the _analytics.html partial to include production code specific code & trackers -->#}
{##}
{#</head>#}
{##}
{#<body>#}
{#{% load humanize %}#}
{#{% load product_extras %}#}
{#{% include 'landing/html&css/html/pages/layout/__header.html' %}#}
{#<header class="header-global">#}
{#    <nav id="navbar-main" aria-label="Primary navigation"#}
{#         class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom navbar-light position-fixed">#}
{#        <div class="container position-relative">#}
{#            <a class="navbar-brand shadow-soft py-2 px-3 rounded border border-light mr-lg-4"#}
{#               href="{% url 'products:products_list' %}">#}
{#                <img class="navbar-brand-dark" src="../../../../../static/landing/w-logo.png" alt="Logo light">#}
{#                <img class="navbar-brand-light" src="../../../../../static/landing/w-logo.png" alt="Logo dark">#}
{#            </a>#}
{#            <div class="navbar-collapse collapse" id="navbar_global">#}
{#                <div class="navbar-collapse-header">#}
{#                    <div class="row">#}
{#                        <div class="col-6 collapse-brand">#}
{#                            <a href="{% url 'products:products_list' %}"#}
{#                               class="navbar-brand shadow-soft py-2 px-3 rounded border border-light">#}
{#                                <img src="../../../../../static/landing/w-logo.png" alt="Web Mall logo">#}
{#                            </a>#}
{#                        </div>#}
{#                        <div class="col-6 collapse-close">#}
{#                            <a href="#navbar_global" class="fas fa-times" data-toggle="collapse"#}
{#                               data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false"#}
{#                               title="close" aria-label="Toggle navigation"></a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <ul class="navbar-nav navbar-nav-hover align-items-lg-center">#}
{#                    <li class="nav-item dropdown">#}
{#                        <a href="#" class="nav-link" data-toggle="dropdown">#}
{#                            <span class="nav-link-inner-text">Pages</span>#}
{#                            <span class="fas fa-angle-down nav-link-arrow ml-2"></span>#}
{#                        </a>#}
{#                        <ul class="dropdown-menu">#}
{#                            <li><a class="dropdown-item" href="{% url 'customers:about' %}">About</a></li>#}
{#                            <li><a class="dropdown-item" href="{% url 'products:products_list' %}">Products</a></li>#}
{#                            <li><a class="dropdown-item" href="../../html/pages/contact.html">Contact</a></li>#}
                            {#                            <li><a class="dropdown-item" href="{% url 'customers:login' %}">Sign in</a></li>#}
                            {#                            <li><a class="dropdown-item" href="{% url 'customers:sign-up' %}">Sign up</a></li>#}
{#                        </ul>#}
{#                    </li>#}
{#                    <li class="nav-item dropdown mega-dropdown">#}
{#                        <a href="#" class="nav-link" data-toggle="dropdown">#}
{#                            <span class="nav-link-inner-text">Categories</span>#}
{#                            <span class="fas fa-angle-down nav-link-arrow ml-2"></span>#}
{#                        </a>#}
{#                        <div class="dropdown-menu">#}
{#                            <div class="row">#}
                                {#                                <div class="col-lg-6 inside-bg d-none d-lg-block">#}
                                {#                                    <div class="justify-content-center bg-primary text-white">#}
                                {#                                        <div class="px-6 pb-5 pt-3">#}
                                {#                                            <img src="../../../../../static/landing/assets/img/megamenu-image.jpg" alt="Pixel Components">#}
                                {#                                        </div>#}
                                {#                                        <div class="z-2 pb-4 text-center">#}
                                {#                                            <a href="../../html/components/all.html"  class="btn btn-primary mb-2 mb-sm-0 mr-3 text-secondary">#}
                                {#                                                <span class="mr-1"><span class="fas fa-th-large"></span></span>#}
                                {#                                                All components#}
                                {#                                            </a>#}
                                {#                                            <a href="https://themesberg.com/docs/neumorphism-ui/components/alerts" target="_blank" class="btn btn-primary mb-2 mb-sm-0">#}
                                {#                                                <span class="mr-1"><span class="fas fa-book"></span></span>#}
                                {#                                                Docs v1.0#}
                                {#                                            </a>#}
                                {#                                        </div>#}
                                {#                                    </div>#}
                                {#                                </div>#}
{#                                {% for category in parent_categories %}#}
{#                                    <div class="col pl-0">#}
{#                                        <ul class="list-style-none">#}
{#                                            <li><a class="dropdown-item"#}
{#                                                   href="{% url 'products:category_detail' pk=category.id %}"><h3#}
{#                                                    class="border-behance border-bottom">{{ category.name }}</h3>#}
{#                                            </a> {% tree_structure category %}</li>#}
                                            {#                                        <li><a class="dropdown-item" href="../../html/components/alerts.html">Alerts</a></li>#}
                                            {#                                        <li><a class="dropdown-item" href="../../html/components/badges.html">Badges</a></li>#}
                                            {#                                        <li><a class="dropdown-item" href="../../html/components/bootstrap-carousels.html">Bootstrap Carousels</a></li>#}
                                            {#                                        <li><a class="dropdown-item" href="../../html/components/breadcrumbs.html">Breadcrumbs</a></li>#}
                                            {#                                        <li><a class="dropdown-item" href="../../html/components/buttons.html">Buttons</a></li>#}
                                            {#                                        <li><a class="dropdown-item d-flex align-items-center justify-content-between" href="https://themesberg.com/docs/neumorphism-ui/plugins/jquery-counters/" target="_blank">Counters </a></li>#}
                                            {#                                        <li><a class="dropdown-item" href="../../html/components/cards.html">Cards</a></li>#}
                                            {#                                        <li><a class="dropdown-item d-flex align-items-center justify-content-between" href="https://themesberg.com/docs/neumorphism-ui/components/e-commerce/" target="_blank">E-commerce </a></li>#}
{#                                        </ul>#}
{#                                    </div>#}
{#                                {% endfor %}#}
                                {#                                <div class="col pl-0">#}
                                {#                                    <ul class="list-style-none">#}
                                {#                                        <li><a class="dropdown-item" href="../../html/components/forms.html">Forms</a></li>#}
                                {#                                        <li><a class="dropdown-item d-flex align-items-center justify-content-between" href="https://themesberg.com/docs/neumorphism-ui/components/icon-boxes/" target="_blank">Icon Boxes</a></li>#}
                                {#                                        <li><a class="dropdown-item" href="../../html/components/modals.html">Modals</a></li>#}
                                {#                                        <li><a class="dropdown-item" href="../../html/components/navs.html">Navs</a></li>#}
                                {#                                        <li><a class="dropdown-item d-flex align-items-center justify-content-between" href="https://themesberg.com/docs/neumorphism-ui/plugins/owl-carousel/" target="_blank">Owl Carousels</a></li>#}
                                {#                                        <li><a class="dropdown-item" href="../../html/components/pagination.html">Pagination</a></li>#}
                                {#                                        <li><a class="dropdown-item" href="../../html/components/popovers.html">Popovers</a></li>#}
                                {#                                        <li><a class="dropdown-item" href="../../html/components/progress-bars.html">Progress Bars</a></li>#}
                                {##}
                                {#                                    </ul>#}
                                {#                                </div>#}
                                {#                                <div class="col pl-0">#}
                                {#                                    <ul class="list-style-none">#}
                                {#                                        <li><a class="dropdown-item d-flex align-items-center justify-content-between" href="https://themesberg.com/docs/neumorphism-ui/components/icon-boxes/#steps" target="_blank">Steps </a></li>#}
                                {#                                        <li><a class="dropdown-item" href="../../html/components/tables.html">Tables</a></li>#}
                                {#                                        <li><a class="dropdown-item" href="../../html/components/tabs.html">Tabs</a> </li>#}
                                {#                                        <li><a class="dropdown-item" href="../../html/components/toasts.html">Toasts</a> </li>#}
                                {#                                        <li><a class="dropdown-item d-flex align-items-center justify-content-between" href="https://themesberg.com/docs/neumorphism-ui/components/timelines/" target="_blank">Timelines </a></li>#}
                                {#                                        <li><a class="dropdown-item" href="../../html/components/tooltips.html">Tooltips</a></li>#}
                                {#                                        <li><a class="dropdown-item" href="../../html/components/typography.html">Typography</a></li>#}
                                {#                                        <li><a class="dropdown-item d-flex align-items-center justify-content-between" href="https://demo.themesberg.com/neumorphism-ui-pro/html/components/widgets.html" target="_blank">Widgets</a></li>#}
                                {#                                    </ul>#}
                                {#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </li>#}
{#                    <li class="nav-item dropdown">#}
{#                        <a href="{% url 'orders:order_items_list' %}">#}
                            {#                        <a href="#" class="nav-link" data-toggle="dropdown">#}
{#                            <span class="fas fa-shopping-cart nav-link-inner-text"></span>#}
{#                            <span class="nav-link-inner-text">Cart</span>#}
{#                            <span class='badge badge-danger'> <b>{{ cart_count }}</b> </span></a>#}
                        {#                            <span class="fas fa-angle-down nav-link-arrow ml-2"></span>#}
                        {#                        </a>#}
                        {#                        <div class="dropdown-menu dropdown-menu-lg">#}
                        {#                            <div class="col-auto px-0" data-dropdown-content>#}
                        {#                                <div class="list-group list-group-flush">#}
                        {#                                    <a href="https://themesberg.com/docs/neumorphism-ui/getting-started/quick-start/" target="_blank" class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4">#}
                        {#                                        <span class="icon icon-sm icon-secondary"><span class="fas fa-file-alt"></span></span>#}
                        {#                                        <div class="ml-4">#}
                        {#                                            <span class="text-dark d-block">Documentation<span class="badge badge-sm badge-secondary ml-2">v1.0</span></span>#}
                        {#                                            <span class="small">Examples and guides</span>#}
                        {#                                        </div>#}
                        {#                                    </a>#}
                        {#                                    <a href="https://github.com/themesberg/neumorphism-ui/issues" target="_blank" class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4">#}
                        {#                                        <span class="icon icon-sm icon-secondary"><span class="fas fa-microphone-alt"></span></span>#}
                        {#                                        <div class="ml-4">#}
                        {#                                            <span class="text-dark d-block">Support</span>#}
                        {#                                            <span class="small">Looking for answers? Ask us!</span>#}
                        {#                                        </div>#}
                        {#                                    </a>#}
                        {#                                </div>#}
                        {#                            </div>#}
                        {#                        </div>#}
{#                    </li>#}
{#                </ul>#}
{#            </div>#}
{#            <div class="d-flex align-items-center">#}
{#                {% if request.user.is_authenticated %}#}
{#                    <a href="{% url 'customers:logout' %}"#}
{#                       class="btn btn-primary text-secondary d-none d-md-inline-block mr-3"><i#}
{#                            class="fas fa-sign-out-alt mr-2"></i>Log Out</a>#}
{#                {% else %}#}
{#                    <a href="{% url 'customers:login' %}"#}
{#                       class="btn btn-primary text-secondary d-none d-md-inline-block mr-3"><i#}
{#                            class="fas fa-sign-in-alt mr-2"></i>SignIn / SignUp</a>#}
{#                {% endif %}#}
{##}
                {#                <a href="https://themesberg.com/docs/neumorphism-ui/getting-started/quick-start/" target="_blank" class="btn btn-primary"><i class="fas fa-book"></i> Docs v1.0</a>#}
{#                <button class="navbar-toggler ml-2" type="button" data-toggle="collapse" data-target="#navbar_global"#}
{#                        aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">#}
{#                    <span class="navbar-toggler-icon"></span>#}
{#                </button>#}
{#            </div>#}
{#        </div>#}
{#    </nav>#}
{#</header>#}
{#<h1 class="my-4">#}
{#    <pre> </pre>#}
{#</h1>#}
<h1 class="text-behance text-center">{% trans 'Order' %}</h1>
<div class="card bg-primary shadow-inset border-light p-4 my-2 col-11 mx-auto">
    <div class="card-header shadow-soft text-center border border-light rounded col-12 mx-5 d-flex justify-content-between flex-wrap align-self-center">
        <div class="container-fluid">
            <div class="row">
                <div class="container-fluid mb-5">
                    <div class="row">
                        {% for order_item in order_items %}
                            <div class="container-fluid col-2 my-0">
                                <div class="row">
                                    <img class="rounded mx-auto mt-4" src="{{ order_item.product.image.url }}"
                                         alt="{{ order_item.product }}" width="150" height="150">
                                </div>
                                <div class="row">
                                    <span class='badge badge-dribbble m-auto'> <b>{{ order_item.count }}</b> </span>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="container-fluid">
                    <div class="row mx-auto align-items-center justify-content-center">
                        <form id="order_create_form" method="post" class="form-group">
                            {#                            <div class="border border-danger shadow-soft col-6 m-auto justify-content-center align-items-center text-danger">#}
                            {% for error in form.errors.values %}
                                <div id="form_alert"
                                     class="alert alert-danger border border-danger shadow-soft col-6 m-auto justify-content-center align-items-center text-danger rounded">
                                    <b class="border-bottom border-danger">{% if 'required.' in error|striptags %}
                                        Address: {% else %}Off Code:
                                    {% endif %}</b>{{ error|striptags }}
                                </div>
                            {% endfor %}
                            {% csrf_token %}
                            <h4 id="address_chooser" class="text-danger mx-auto mt-5">{% trans 'Choose Your Address' %}</h4>
                            {% if addresses %}
                                {% for address in addresses %}
                                    <div id="address_{{ address.id }}"
                                         class="customer_addresses card bg-primary shadow-inset border-light p-4 my-2 col-12 mx-auto">
                                        <div class="card-header shadow-soft text-center border border-light rounded">
                                            <div class="container-fluid">
                                                <div class="row m-0 p-0">
                                                    <input class="my-auto col-1" type="radio" id="{{ address.id }}"
                                                           name="address"
                                                           value="{{ address.id }}">
                                                    <label class="text-left my-auto col-10" for="{{ address.id }}">
                                                        <div class="my-auto row">
                                                            <p class="mx-3 my-3">
                                                                <b>{% trans 'Province:' %}</b> {{ address.get_province_display | non_destroyer }}
                                                            </p>
                                                            <p class="mx-3 my-3">
                                                                <b>{% trans 'City:' %}</b> {{ address.city | non_destroyer }}</p>
                                                            <p class="mx-3 my-3">
                                                                <b>{% trans 'Area:' %}</b> {{ address.area | non_destroyer }}</p>
                                                            <p class="mx-3 my-3">
                                                                <b>{% trans 'Avenue:' %}</b> {{ address.avenue | non_destroyer }}</p>
                                                            <p class="mx-3 my-3">
                                                                <b>{% trans 'Street:' %}</b> {{ address.street | non_destroyer }}</p>
                                                            <p class="mx-3 my-3">
                                                                <b>{% trans 'Alley:' %}</b> {{ address.alley | non_destroyer }}</p>
                                                            <p class="mx-3 my-3">
                                                                <b>{% trans 'No:' %}</b> {{ address.no | non_destroyer }}
                                                            </p>
                                                            <p class="mx-3 my-3">
                                                                <b>{% trans 'Unit:' %}</b> {{ address.unit | non_destroyer }}</p>
                                                            <p class="mx-3 my-3">
                                                                <b>{% trans 'Floor:' %}</b> {{ address.floor | non_destroyer }}</p>
                                                            <p class="mx-3 my-3"><b>{% trans 'ZIP Code:' %}</b> {{ address.postal_code | non_destroyer }}</p>
                                                        </div>
                                                    </label>
                                                    <div class="row my-auto col-4 col-md-1 mx-auto">
                                                        <div class="m-1 justify-content-between">
                                                            <div id="{{ address.id }}"
                                                                 class="address_edit my-1 btn btn-warning fas fa-edit col-12"
                                                                 data-toggle="modal" data-target="#exampleModal2"></div>
                                                            <div id="{{ address.id }}"
                                                                 class="address_delete my-1 btn btn-danger fas fa-trash-alt col-12"
                                                                 data-toggle="modal" data-target="#exampleModal"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                {% for order_item in order_items|slice:":1" %}
                                    {#                                <div class="container-fluid card-header shadow-soft text-center border border-light rounded col-3 table-success">#}
                                    {#                                    <div class="row">#}
                                    <table class="table table-hover table-success">
                                        <thead>
                                        <tr>
                                            <th>{% trans 'Final Price' %}</th>
                                            <th>{% trans 'Final Discount' %}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>{{ order_item.order_total_price | toman_format | intcomma }}</td>
                                            <td>{{ order_item.order_total_discount }}</td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    {#                                    </div>#}
                                    {#                                </div>#}
                                {% endfor %}
                                <div class="btn btn-success d-block mx-auto fas fa-plus-square mb-5 col-6 col-md-2"
                                     data-toggle="modal" data-target="#exampleModal2"> {% trans 'New Address' %}
                                </div>

                                <label class="text-danger col-4"><b>{% trans 'Choose Your Off Code' %}</b>
                                    <select name="off_code" class="form-control" data-title="Select Off Code"
                                            data-style="btn-default btn-block" data-menu-style="dropdown-blue">
                                        {% for x,y in form.fields.off_code.choices %}
                                            <option class="form-control" value="{{ x }}"
                                                    {% if form.fields.off_code.value == x %}
                                                    selected{% endif %}>{{ y }}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                                <div class="row m-auto">
                                    <button class="m-auto btn btn-danger" type="submit">{% trans 'Order' %}</button>
                                </div>
                                </form>
                            {% else %}
                                {% for order_item in order_items|slice:":1" %}
                                    {#                                <div class="container-fluid card-header shadow-soft text-center border border-light rounded col-3 table-success">#}
                                    {#                                    <div class="row">#}
                                    <table id="price_table" class="table table-hover table-success d-none">
                                        <thead>
                                        <tr>
                                            <th>{% trans 'Final Price' %}</th>
                                            <th>{% trans 'Final Discount' %}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>{{ order_item.order_total_price | toman_format | intcomma }}</td>
                                            <td>{{ order_item.order_total_discount }}</td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    {#                                    </div>#}
                                    {#                                </div>#}
                                {% endfor %}
                                <div id="address_creator_button"
                                     class="btn btn-success d-none mx-auto fas fa-plus-square mb-5 col-6 col-md-2"
                                     data-toggle="modal" data-target="#exampleModal2"> New Address
                                </div>

                                <label id="address_labels" class="d-none text-danger col-4"><b>{% trans 'Choose Your Off Code' %}</b>
                                    <select name="off_code" class="form-control" data-title="Select Off Code"
                                            data-style="btn-default btn-block" data-menu-style="dropdown-blue">
                                        {% for x,y in form.fields.off_code.choices %}
                                            <option class="form-control" value="{{ x }}"
                                                    {% if form.fields.off_code.value == x %}
                                                    selected{% endif %}>{{ y }}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                                <div id="order_creator_button" class="d-none row m-auto">
                                    <button class="m-auto btn btn-danger" type="submit">{% trans 'Order' %}</button>
                                </div>
                                </form>
                                <div id="no_address_handler"
                                     class="card bg-primary shadow-inset border-light p-4 my-3 col-11 mx-auto">
                                    <h1>
                                        <pre> </pre>
                                    </h1>
                                    <h3 class="text-center text-danger"><b>{% trans 'You Need an Address to order!!' %}</b></h3>
                                    <h1>
                                        <pre> </pre>
                                    </h1>
                                    <div class="btn btn-success mx-auto fas fa-plus-square mb-2 col-4"
                                         data-toggle="modal" data-target="#exampleModal2"> {% trans 'New Address' %}
                                    </div>
                                </div>
                            {% endif %}

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Button trigger modal -->
{#<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">#}
{#  Launch demo modal#}
{#</button>#}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {#      <div class="modal-header">#}
            {#        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>#}
            {#        <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
            {#          <span aria-hidden="true">&times;</span>#}
            {#        </button>#}
            {#      </div>#}
            <div class="modal-body m-auto">
                <p class="text-danger"><b>Are you sure you want to delete this address?</b></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                <button id="modal_delete" value="" type="button" class="btn btn-danger" data-dismiss="modal">Delete
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-behance" id="exampleModalLabel2"><b>Create Address</b></h5>
                <button id="modal_close" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body m-auto">
                {% load crispy_forms_tags %}
                <form id="address_create_form">
                    {% crispy address_form %}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                <button id="modal_create" type="button" class="btn btn-success">Save</button>
            </div>
        </div>
    </div>
</div>
{#<footer class="d-flex pb-5 pt-6 pt-md-7 border-top border-light bg-primary">#}
{#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="col-lg-4">#}
{#                <p><strong>Neumorphism UI PRO</strong> is a premium Bootstrap UI Kit built based on the newest design#}
{#                    trend called Neumorphism.</p>#}
{#                <ul class="d-flex list-unstyled mb-5 mb-lg-0">#}
{#                    <li class="mr-2">#}
{#                        <a href="https://twitter.com/themesberg" target="_blank"#}
{#                           class="btn btn-icon-only btn-pill btn-primary" aria-label="twitter social link"#}
{#                           data-toggle="tooltip" data-placement="top" title="Follow @themesberg on Twitter">#}
{#                            <span aria-hidden="true" class="fab fa-twitter"></span>#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="mr-2">#}
{#                        <a href="https://www.facebook.com/themesberg/" target="_blank"#}
{#                           class="btn btn-icon-only btn-pill btn-primary" aria-label="facebook social link"#}
{#                           data-toggle="tooltip" data-placement="top" title="Like @themesberg on Facebook">#}
{#                            <span aria-hidden="true" class="fab fa-facebook"></span>#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="mr-2">#}
{#                        <a href="https://github.com/themesberg" target="_blank"#}
{#                           class="btn btn-icon-only btn-pill btn-primary" aria-label="github social link"#}
{#                           data-toggle="tooltip" data-placement="top" title="Open source projects">#}
{#                            <span aria-hidden="true" class="fab fa-github"></span>#}
{#                        </a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="https://dribbble.com/themesberg" target="_blank"#}
{#                           class="btn btn-icon-only btn-pill btn-primary" aria-label="dribbble social link"#}
{#                           data-toggle="tooltip" data-placement="top" title="Follow us on Dribbble">#}
{#                            <span aria-hidden="true" class="fab fa-dribbble"></span>#}
{#                        </a>#}
{#                    </li>#}
{#                </ul>#}
{#            </div>#}
{#            <div class="col-6 col-lg-2 mb-5 mb-lg-0">#}
{#                <h5>Themesberg</h5>#}
{#                <ul class="footer-links list-unstyled mt-2">#}
{#                    <li class="mb-1"><a class="p-2" target="_blank" href="https://themesberg.com/blog">Blog</a></li>#}
{#                    <li class="mb-1"><a class="p-2" target="_blank" href="https://themesberg.com/products">Products</a>#}
{#                    </li>#}
{#                    <li class="mb-1"><a class="p-2" target="_blank" href="https://themesberg.com/about">About Us</a>#}
{#                    </li>#}
{#                    <li><a class="p-2" target="_blank" href="https://themesberg.com/contact">Contact Us</a></li>#}
{#                </ul>#}
{#            </div>#}
{#            <div class="col-6 col-lg-2 mb-5 mb-lg-0">#}
{#                <h5>Other</h5>#}
{#                <ul class="footer-links list-unstyled mt-2">#}
{#                    <li class="mb-1"><a class="p-2"#}
{#                                        href="https://themesberg.com/docs/pixel-bootstrap/getting-started/overview/"#}
{#                                        target="_blank">Docs#}
{#                        <span class="badge badge-gray text-uppercase ml-2">v1.0</span></a>#}
{#                    </li>#}
{#                    <li class="mb-1">#}
{#                        <a class="p-2" href="https://themesberg.com/docs/pixel-bootstrap/getting-started/changelog"#}
{#                           target="_blank">Changelog</a>#}
{#                    </li>#}
{#                    <li class="mb-1">#}
{#                        <a class="p-2" target="_blank" href="https://themesberg.com/licensing">License</a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a class="p-2" target="_blank"#}
{#                           href="https://github.com/themesberg/pixel-bootstrap-ui-kit/issues">Support</a>#}
{#                    </li>#}
{#                </ul>#}
{#            </div>#}
{#            <div class="col-12 col-lg-4 mb-5 mb-lg-0">#}
{#                <h5>Subscribe</h5>#}
{#                <p class="text-gray font-small mt-2">Join our mailing list. We write rarely, but only the best#}
{#                    content.</p>#}
{#                <form action="#">#}
{#                    <div class="form-row mb-2">#}
{#                        <div class="col-12">#}
{#                            <label class="h6 font-weight-normal d-none" for="exampleInputEmail3">Email address</label>#}
{#                            <input type="email" class="form-control mb-2" placeholder="example@company.com" name="email"#}
{#                                   aria-label="Subscribe form" id="exampleInputEmail3" required>#}
{#                        </div>#}
{#                        <div class="col-12">#}
{#                            <button type="submit" class="btn btn-primary btn-block" data-loading-text="Sending">#}
{#                                <span>Subscribe</span>#}
{#                            </button>#}
{#                        </div>#}
{#                    </div>#}
{#                </form>#}
{#                <p class="text-gray font-small m-0">We’ll never share your details. See our <a class="text-black"#}
{#                                                                                               href="#">Privacy#}
{#                    Policy</a></p>#}
{#            </div>#}
{#        </div>#}
{#        <hr class="my-5">#}
{#        <div class="row">#}
{#            <div class="col">#}
{#                <a href="https://themesberg.com" target="_blank" class="d-flex justify-content-center">#}
{#                    <img src="../../../../../static/landing/assets/img/themesberg.svg" height="25" class="mb-3"#}
{#                         alt="Themesberg Logo">#}
{#                </a>#}
{#                <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">#}
{#                    <p class="font-weight-normal font-small mb-0">Copyright © Themesberg#}
{#                        <span class="current-year">2020</span>. All rights reserved.</p>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</footer>#}
<div class="loading_modal"><!-- Place at bottom of page --></div>

<!-- Core -->
{#<script src="../../../../../static/landing/vendor/jquery/dist/jquery.min.js"></script>#}
{#<script src="../../../../../static/landing/vendor/popper.js/dist/umd/popper.min.js"></script>#}
{#<script src="../../../../../static/landing/vendor/bootstrap/dist/js/bootstrap.min.js"></script>#}
{#<script src="../../../../../static/landing/vendor/headroom.js/dist/headroom.min.js"></script>#}
{##}
{#<!-- Vendor JS -->#}
{#<script src="../../../../../static/landing/vendor/onscreen/dist/on-screen.umd.min.js"></script>#}
{#<script src="../../../../../static/landing/vendor/nouislider/distribute/nouislider.min.js"></script>#}
{#<script src="../../../../../static/landing/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>#}
{#<script src="../../../../../static/landing/vendor/waypoints/lib/jquery.waypoints.min.js"></script>#}
{#<script src="../../../../../static/landing/vendor/jarallax/dist/jarallax.min.js"></script>#}
{#<script src="../../../../../static/landing/vendor/jquery.counterup/jquery.counterup.min.js"></script>#}
{#<script src="../../../../../static/landing/vendor/jquery-countdown/dist/jquery.countdown.min.js"></script>#}
{#<script src="../../../../../static/landing/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>#}
{#<script src="../../../../../static/landing/vendor/prismjs/prism.js"></script>#}
{##}
{#<script async defer src="https://buttons.github.io/buttons.js"></script>#}
{##}
{#<!-- Neumorphism JS -->#}
{#<script src="../../../../../static/landing/assets/js/neumorphism.js"></script>#}
{% endblock %}
{% block extra_scripts %}
<script>
    $body = $("body");

    $(document).on({
        ajaxStart: function () {
            $body.addClass("loading");
        },
        ajaxStop: function () {
            $body.removeClass("loading");
        }
    });

    $('.address_delete').click(function () {
        let address_id = $(this).attr('id')
        $('#modal_delete').val(address_id)
    })

    $('#modal_delete').click(function () {
        let address_id = $(this).val()
        $.ajax({
            headers: {
                'X-CSRFTOKEN': '{{ csrf_token }}'
            },
            url: "{% url 'customers:address_delete_api_view' pk=12345 %}".replace(/12345/, address_id),
            method: "DELETE",
            success: function () {
                $(`#address_${address_id}`).remove()
            }
        })
    })

    function non_destroyer(value) {
        if (!value) {
            return '-'
        } else {
            return value
        }
    }

    $('#modal_create').click(function () {
        $.ajax({
            url: "{% url 'customers:address_create_api_view' %}",
            method: "POST",
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                province: $('#id_province').val(),
                city: $('#id_city').val(),
                area: $('#id_area').val(),
                avenue: $('#id_avenue').val(),
                street: $('#id_street').val(),
                alley: $('#id_alley').val(),
                no: $('#id_no').val(),
                unit: $('#id_unit').val(),
                floor: $('#id_floor').val(),
                postal_code: $('#id_postal_code').val(),
            },
            success: function (success) {
                let address_box_html = `<div id="address_${success.id}"` +
                    'class="card bg-primary shadow-inset border-light p-4 my-2 col-12 mx-auto">' +
                    '<div class="card-header shadow-soft text-center border border-light rounded">' +
                    `<div class="container-fluid"><div class="row m-0 p-0"><input class="my-auto col-1" type="radio" id="${success.id}" name="address" value="${success.id}">` +
                    `<label class="text-left my-auto col-10" for="${success.id}">` +
                    '<div class="my-auto row">' +
                    `<p class="mx-3 my-3"><b>{% trans 'Province:' %}</b> ${non_destroyer(success.complete_province)}</p>` +
                    `<p class="mx-3 my-3"><b>{% trans 'City:' %}</b> ${non_destroyer(success.city)}</p>` +
                    `<p class="mx-3 my-3"><b>{% trans 'Area:' %}</b> ${non_destroyer(success.area)}</p>` +
                    `<p class="mx-3 my-3"><b>{% trans 'Avenue:' %}</b> ${non_destroyer(success.avenue)}</p>` +
                    `<p class="mx-3 my-3"><b>{% trans 'Street:' %}</b> ${non_destroyer(success.street)}</p>` +
                    `<p class="mx-3 my-3"><b>{% trans 'Alley:' %}</b> ${non_destroyer(success.alley)}</p>` +
                    `<p class="mx-3 my-3"><b>{% trans 'No:' %}</b> ${non_destroyer(success.no)}</p>` +
                    `<p class="mx-3 my-3"><b>{% trans 'Unit:' %}</b> ${non_destroyer(success.unit)}</p>` +
                    `<p class="mx-3 my-3"><b>{% trans 'Floor:' %}</b> ${non_destroyer(success.floor)}</p>` +
                    `<p class="mx-3 my-3"><b>{% trans 'ZIP Code:' %}</b> ${non_destroyer(success.postal_code)}</p>` +
                    '</div></label>' +
                    '<div class="row my-auto col-4 col-md-1 mx-auto">' +
                    '<div class="m-1 justify-content-between">' +
                    `<div id="${success.id}" class="address_edit my-1 btn btn-warning fas fa-edit col-12" data-toggle="modal" data-target="#exampleModal2"></div>` +
                    `<div id="${success.id}" class="address_delete my-1 btn btn-danger fas fa-trash-alt col-12" data-toggle="modal" data-target="#exampleModal"></div>` +
                    '</div></div></div></div></div></div>'
                if ($('.customer_addresses').length) {
                    $('#address_chooser').after(address_box_html)
                } else {
                    {#let address_chooser_html = '<h4 id="address_chooser" class="text-danger mx-auto mt-5">Choose Your Address</h4>'#}
                    $('#address_chooser').after(address_box_html)
                    $('#price_table').removeClass('d-none')
                    $('#address_creator_button').removeClass('d-none')
                    $('#order_creator_button').removeClass('d-none')
                    $('#address_creator_button').addClass('d-block')
                    $('#address_labels').removeClass('d-none')
                    $('#no_address_handler').remove()
                }
                {#$('#modal_create').attr('data-dismiss', "modal")#}
                $('#modal_close').trigger('click')
                $('#address_create_form').trigger('reset')

            }
        })
    })
</script>
{% endblock %}
{#</body>#}
{##}
{#</html>#}