{% extends 'landing/html&css/html/pages/layout/_base.html' %}
{% load crispy_forms_filters %}
{% load i18n %}
{% load humanize %}
{% load product_extras %}
{% block title %}{% trans 'Final Order' %}{% endblock %}
{% block content %}
    <div class="mx-auto col-6 shadow-soft rounded"><h3 class="text-behance text-center">Support Chat</h3><textarea class="col-12 bg-dark text-white rounded p-4" rows="10" id="chat-log" disabled></textarea><br>
        <input class="form-control col-6" id="chat-message-input" type="text" placeholder="Type your text here!" size="100"><br>
    <input class="btn btn-outline-behance mb-5" id="chat-message-submit" type="button" value="Send"></div>

    {{ room_name|json_script:"room-name" }}
{% endblock %}
{% block extra_scripts %}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        console.log(roomName)
        console.log(typeof (roomName))
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            let name = '{{ request.user.first_name }}'
            if (!name){
                name = 'User'
            }
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').value += (name + ':\t' + data.message + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>
{% endblock %}